body{
    font: 1em Arial;
    margin: 20px;
}

.container{
    background: #999;
    display: block;
    height: 200px;
    margin: 80px;

}

.container-inner{
    background: #ccc;
    margin: 10px;
    position: absolute;
    bottom: 0 ;

}

a {
    width: 500px;
    height: 100px;
    background: #888;
    display: block;
}