#header { /* Верхний блок */
    background: #0080c0; /* Цвет фона */
    height: 10%;
    padding: 5px; /* Поля вокруг текста */
}

.column-left {
    position: fixed; /* Фиксированное положение */
    width: 10%;
    left: 5px; /* Расстояние от правого края окна браузера */
    top: 5%; /* Расстояние сверху */
    padding: 5px; /* Поля вокруг текста */
    background: #ffe; /* Цвет фона */
    border: 1px solid #333; /* Параметры рамки */
}
.column-right {
    position: fixed; /* Фиксированное положение */
    width: 10%;
    right: 5px; /* Расстояние от правого края окна браузера */
    top: 20px; /* Расстояние сверху */
    padding: 5px; /* Поля вокруг текста */
    background: #ffe; /* Цвет фона */
    border: 1px solid #333; /* Параметры рамки */
}
.column-center {
    width: 75%; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #fc0; /* Цвет фона */
}
