body {
    font-family: Arial;
    background: url("img/background.jpg") repeat ;
    /*background: rgba(255, 0, 0, 0.5);*/
    color: #333;

}



a { 
color: #008BCE; /* Цвет ссылок */ 
}
   

#container {
    width: 500px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
    /*background: #FCE600; /* Цвет колонок */*/
   }




#header { 
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #D71920; /* Цвет фона шапки */
   }

#left-column {
    position: fixed;
    float: left; 
    background: red;
    width: 110px; 
    padding: 5px;
   }

#right-column{
   
    float: right; 
    background: blue;
    width: 110px; 
    padding: 5px;
   }

 #content {
    background: green;
    margin: 0 120px; /* Ширина колонок */
    padding: 10px;
   }



h2 { 
    margin: 0 0 1em; 
}

   #footer { 
    clear: both; /* Отменяем действие float */
    padding: 5px; /* Отступы вокруг текста */
    background: #D71920; /* Цвет фона подвала */
   }